<div class="container" >
    <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card" style="width: 18rem; display: inline-block;">
            <img src="https://i.ibb.co/JB6yTHN/GFIcon.png" class="card-img-top" alt="GestionFitImg" height="250">
            <div class="card-body">
              <h5 class="card-title">GestionFit</h5>
              <h6 class="card-subtitle mb-2 text-muted"><i class="fab fa-angular"></i><i class="fab fa-java"></i></h6>
              <p class="card-text">Trabajo de inserci&oacute;n profesional para la Tecnicatura en Programaci&oacute;n Inform&aacute;tica, Universidad Nacional de Quilmes.
              API creada en Java con Spring Boot y Hibernate. Aplicacion web realizada en Angular 5. Aplicacion mobile creada con Ionic 3. Aplicacion desktop creada con ElectronJs</p>
              <a href="https://github.com/MatiCava/GestionFitTip" class="btn btn-primary">Ver en Github</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card" style="width: 18rem;display: inline-block;">
            <img src="https://i.ibb.co/0sr488H/Car-Pn-DLogo1.png" class="card-img-top" alt="CarPnDImg" height="250">
            <div class="card-body">
              <h5 class="card-title">CarPnD</h5>
              <h6 class="card-subtitle mb-2 text-muted"><i class="fab fa-angular"></i><i class="fab fa-java"></i></h6>
              <p class="card-text">Proyecto para la materia Desarrollo de Aplicaciones, Universidad Nacional de Quilmes. API con Java y Spring MVC. Aplicacion web con Angular</p>
              <a href="https://github.com/gasvel/desapp-unq-grupo-f-012018" class="btn btn-primary">Ver en Github</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch">

  <div class="card" style="width: 18rem;display: inline-block;">
    <img src="https://i.ibb.co/RTdHwgn/Light-Keeper.jpg" class="card-img-top" alt="LightKeeperImg"height="250">
    <div class="card-body">
      <h5 class="card-title">Light Keeper</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-gamepad"></i></h6>
      <p class="card-text">Proyecto personal realizado en una semana para la Brackey's Game Jam. Videojuego realizado en Unity( Scripts C#)</p>
      <a href="https://github.com/gasvel/Light-Keeper" class="btn btn-primary">Ver en Github</a>
    </div>
  </div>
</div>
  <div class="col-lg-4 d-flex align-items-stretch">

    <div class="card" style="width: 18rem;display: inline-block;">
      <div class="card-body">
        <h5 class="card-title">Pocket Rocket</h5>
        <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-gamepad"></i></h6>
        <p class="card-text">Proyecto personal en curso. Juego para plataformas mobile. Realizado en Unity</p>
        <a href="https://github.com/gasvel/PocketRocket" class="btn btn-primary">Ver en Github</a>
      </div>
    </div>
    </div>
  </div>
</div>
