<div class="container" >
  <div class="card" style="width: 18rem; display: inline-block;">
    <img src="../../assets/GFIcon.png" class="card-img-top" alt="GestionFitImg" height="250">
    <div class="card-body">
      <h5 class="card-title">GestionFit</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fab fa-angular"></i><i class="fab fa-java"></i></h6>
      <p class="card-text">Trabajo de insercion profesional para la Tecnicatura en Programacion Informatica, Universidad Nacional de Quilmes.</p>
      <a href="https://github.com/MatiCava/GestionFitTip" class="btn btn-primary">Ver en Github</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;display: inline-block;">
    <img src="../../assets/CarPnDLogo1.png" class="card-img-top" alt="CarPnDImg" height="250">
    <div class="card-body">
      <h5 class="card-title">CarPnD</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fab fa-angular"></i><i class="fab fa-java"></i></h6>
      <p class="card-text">Proyecto para la materia Desarrollo de Aplicaciones, Universidad Nacional de Quilmes.</p>
      <a href="https://github.com/gasvel/desapp-unq-grupo-f-012018" class="btn btn-primary">Ver en Github</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;display: inline-block;">
    <img src="../../assets/LightKeeper.jpg" class="card-img-top" alt="LightKeeperImg"height="250">
    <div class="card-body">
      <h5 class="card-title">Light Keeper</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-gamepad"></i></h6>
      <p class="card-text">Proyecto personal realizado en una semana para la Brackey's Game Jam.</p>
      <a href="https://github.com/gasvel/Light-Keeper" class="btn btn-primary">Ver en Github</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;display: inline-block;">
    <div class="card-body">
      <h5 class="card-title">Pocket Rocket</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-gamepad"></i></h6>
      <p class="card-text">Proyecto personal en curso.Juego para plataformas mobile.</p>
      <a href="https://github.com/gasvel/PocketRocket" class="btn btn-primary">Ver en Github</a>
    </div>
  </div>
</div>