<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://static.t13.cl/images/sizes/1200x675/1493938270-programacion-istock.jpg" class="d-block w-100" alt="img1">
      <div class="carousel-caption d-none d-md-block">
        <h3>Gaston Veliez</h3>
        <h4>Tecnico Universitario en Programacion Informatica</h4>
        <h4>Estudiante de la Licenciatura en Informatica</h4>
        <h4>Universidad Nacional de Quilmes</h4>
      </div>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img src="https://dev-res.thumbr.io/libraries/82/12/41/lib/1452348363337_1.jpg?size=854x493s&ext=jpg" class="d-block w-100" alt="img2">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h3>Mis proyectos</h3>
        <h4>Proyectos realizados con motivo acedemico y/o personal</h4>
      </div>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--fwbIzHY7--/c_scale,f_auto,fl_progressive,q_80,w_800/ozw77feokqvffbkaulxx.png" class="d-block w-100" alt="img3">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h3>Contacto</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Atras</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>